body{
  background-color: rgb(48, 48, 95);
  align-items: center;
  display: block;
}

.num{
  font-size: 10rem;
  font-family: sans-serif;
  font-weight: 100;
  margin-left: 35rem;
}

.btn{
  margin-left: 25rem;
  margin-top: 5rem;
}

.start-btn{
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 100%;
  width: 17%;
  padding: 1rem;
  margin: 2rem; 
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 1s ease-in-out 0.1s;
}

.start-btn:hover{
  background-color: blue;
}

.reset-btn{
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 100%;
  width: 17%;
  padding: 1rem;
  margin: 2rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 1s ease-in-out 0.1s;
}

.reset-btn:hover{
  background-color: blue;
}
